@model HighSchoolManager.ViewModels.ProfessorIndexData
<link rel="stylesheet" href="~/Content/samestyle.css">
@{
    ViewBag.Title = "Professors";
}
<br/>
<br/>
<h2>Professors</h2>
@if (User.IsInRole("Admin"))
{   
    <h2>
        @Html.ActionLink("Create New", "Create")
    </h2>
}

<table class="table">
    <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Date of birth</th>
        <th>Hired since</th>
        <th>Office</th>
        <th>Courses</th>
        <th></th>
    </tr>

    @foreach (var item in Model.Professors)
    {
        string selectedRow = "";
        if (item.ID == ViewBag.DivisionID)
        {
            selectedRow = "success";
        }
        <tr class="@selectedRow" valign="top">
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BirthDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HireDate)
            </td>
            <td>
                @if (item.OfficeAssignment != null)
                {
                    @item.OfficeAssignment.Location
                }
            </td>
            <td>
                @{
                    foreach (var course in item.Courses)
                    {
                        @course.CourseID @:  @course.Title <br />
                    }
                }
            </td>
            @if (User.IsInRole("Admin"))
            {
            <td>
                @Html.ActionLink("Select", "Index", new { id = item.ID }) |
                @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ID })
            </td>
            }
        </tr>
    }

</table>

@if (Model.Courses != null)
{
    <h3>Courses lectured by the chosen professor</h3>
    <table class="table">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Division</th>
            <th></th>
        </tr>

        @foreach (var item in Model.Courses)
        {
            string selectedRow = "";
            if (item.CourseID == ViewBag.StudentID)
            {
                selectedRow = "success";
            }
            <tr class="@selectedRow">
                <td>
                    @item.CourseID
                </td>
                <td>
                    @item.Title
                </td>
                <td>
                    @item.Division.Name
                </td>
                <td>
                    @Html.ActionLink("Select", "Index", new { courseID = item.CourseID })
                </td>
            </tr>
        }
    </table>

    if (Model.Assignments != null)
    {
        <h3>
            Students assigned in the chosen course
        </h3>

        <table class="table">
            <tr>
                <th>Name</th>
                <th>Grade</th>
            </tr>
            @foreach (var item in Model.Assignments)
            {
                <tr>
                    <td>
                        @item.Student.FullName
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Grade)
                    </td>
                </tr>
            }
        </table>
    }
}