@model HighSchoolManager.Models.Student

@{
    ViewBag.Title = "Delete";
}
<style>
    body {
        background-image: url(/Content/divisions-bg.png);
    }

    a {
        color: darkblue;
        font-size: 16px;
        font-weight: 700;
    }

        a:hover {
            text-decoration: none;
            color: white;
        }


    td,dd {
        color: dimgrey;
        font-family: 'Thasadith', sans-serif;
        font-weight: 900;
        font-size: 16px;
    }

    th,dt {
        color: black;
        font-family: 'Fira Sans Condensed', sans-serif;
        font-size: 18px;
    }

    p {
        color: darkblue;
        font-size: 18px;
    }

    h2 {
        font-family: 'Fira Sans Condensed', sans-serif;
        color: black;
        font-weight: 600;
    }
</style>
<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Student</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BirthDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BirthDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AssignmentDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AssignmentDate)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
