@model HighSchoolManager.Models.Course
<style>
    body {
        background-image: url(/Content/courses-bg.png);
    }

    a {
        color: darkblue;
        font-size: 16px;
        font-weight: 700;
    }

        a:hover {
            text-decoration: none;
            color: white;
        }

    td {
        color: darkblue;
        font-family: 'Thasadith', sans-serif;
        font-weight: 600;
        font-size: 20px;
    }

    dd {
        color: darkblue;
        font-family: 'Thasadith', sans-serif;
        font-weight: 600;
        font-size: 18px;
    }

    dt {
        color: darkblue;
        font-family: 'Thasadith', sans-serif;
        font-size: 18px;
        font-weight: bold;
    }

    p {
        color: darkblue;
        font-size: 18px;
    }

    h2 {
        font-size: large;
        color: darkblue;
        font-weight: 800;
    }
</style>
@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Course</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Division.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Division.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
