@model IEnumerable<HighSchoolManager.Models.Division>
<link rel="stylesheet" href="~/Content/samestyle.css">
@{
    ViewBag.Title = "Divisions";
}

<h2>Divisions</h2>
@if (User.IsInRole("Admin"))
{
    <h2>
        @Html.ActionLink("Create a new division", "Create")
    </h2>
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Headmaster)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Headmaster.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            @if (User.IsInRole("Admin"))
            {
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.DivisionID }) |
                @Html.ActionLink("Details", "Details", new { id = item.DivisionID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.DivisionID })
            </td>
            }
        </tr>
    }

</table>
